/* Headers
 */

/* header
 * ======
 */
h1 {
  text-decoration: underline;
}

/* header
 * ------
 */
h2 {
  font-size: 125%;
  text-decoration: underline dotted;
}

/* header
 * ^^^^^^
 */
h3 {
  font-size: 100%;
}

/* :file:
 * blue text in pre block
 */
.rst-content code.file {
  color: royalblue;
}

/* :ev:
 * envvar, environment variable
 * purple
 */
.envvar,
.std-envvar .pre {
  color: rebeccapurple;
  font-weight: 700;
}

/* :em:
 * emphasis
 */
.em-emphasis {
  color: royalblue;
  font-weight: 700;
}

/* :hi:
 * highlighted emphasis
 * blue on yellow highlight
 */
.hi-emphasis {
  color: royalblue;
  background-color:  #FFE135;
  font-weight: 700;
}

/* :param:
 * dark grey
 */
.param,
.std-param .pre {
  color: #404040;
  font-weight: 700;
  font-style: italic;
}

/* :url:
 * blue
 */
.url,
.std-url .pre {
  color: #2980b9;
  font-weight: 700;
}

/* todo list:
 * change to a clipboard emoji
 */
.rst-content .admonition-title::before {
  content: "📋" !important;
}
